<% provide(:title, 'Edit Category') %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Category</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <br>
    <%= link_to 'Back Categories', admin_categories_path, class: 'btn btn-info' %>
  </div>
</div>